

<div class="mx-5">

     {{#each data}}

     <div class="container-fluid" style="">
       <div class="row">
         <div class="col-md-12">
           <h1 class="pt-4 pb-0">{{algoritm}}&nbsp;</h1>
         </div>
       </div>
     </div>
     <a href="#">
     </a>
     <a href="#">
     </a>



     <table class="responsive">
       <thead>
         <tr>
           <th>Name</th>
           <th>Full name</th>
           <th>Pool <br>hashrate</th>
           <th>fee</th>
           <th>Status</th>
           <th>Network <br>hashrate</th>
           <th>Network <br> diff</th>
           <!-- <th>Курс монеты</th> -->
         </tr>
       </thead>
       <tbody>
        {{#each coins}}
         <tr port = "{{port}}">
           <td data-label="Name">{{img name}}</td>
           <td data-label="fullName">{{fullName}}</td>
           <td data-label="Pool hashrate">{{num rate}}</td>
           <td data-label="fee">{{procent fee}}</td>
           <td data-label="Status">OK</td>
           <td data-label="Network hashrate">{{num global_stats.pool_hash_rate}}</td>
           <td data-label="Network diff">{{num global_stats.network_block_difficulty}}</td>
           <!-- <td data-label="Курс монет">????????</td> -->
         </tr>
         {{/each}}

       </tbody>
     </table>
     {{/each}}
   </div>

   <script>
   $("tbody  tr").on('click',function(){
     var port = $(this).attr("port");
     console.log(port);
     window.location.href='/coin/'+port; return false
   })
   </script>
