<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    {{img coinStatisticData.name}}
    <b> {{coinStatisticData.name}}</b>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar5">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar5">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="dashboard"> <a class="nav-link" href="#">Dashboard</a> </li>
        <li class="nav-item" id="blocks"> <a class="nav-link" href="#">Blocks</a> </li>
        <li class="nav-item" id="miners"> <a class="nav-link" href="#">Miners Online</a> </li>
        <li class="nav-item" id="howto"> <a class="nav-link" href="#">How to Start</a> </li>
      </ul>
    </div>
  </div>
</nav>
<div class="py-5 " id="dashboard_on">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg">
        <div class="row">
          <div class="col text-center border-top  py-4 ">
            {{coinStatisticData.users}}
            <h6 class="">Miners Online</h6>
          </div>
          <div class="w-100   border-bottom"></div>
          <div class="col text-center  py-4 border-right ">
            {{num coinStatisticData.rate}}
            <h6 class="">Pool hashrate</h6>
          </div>
          <div class="col text-center  py-4 border-left">
            {{num_without coinStatisticData.difficulty}}
            <h6 class="">Network difficulty</h6>
          </div>
          <div class="w-100   border-bottom ">
          </div>
          <div class="col text-center  py-4 border-right">
            <h6 class="">Luck</h6>
          </div>
          <div class="col text-center  py-4 border-left">
            {{procent coinStatisticData.fee}}
            <h6 class="">Pool fee</h6>
          </div>
          <div class="w-100   border-bottom">
          </div>
          <div class="col text-center  py-4 border-right">
            {{num_without coinStatisticData.local_stats.block_value}}
            <h6 class="">Block reward</h6>
          </div>
          <div class="col text-center  py-4 border-left">
            {{num coinStatisticData.local_stats.attempts_to_block}}
            <h6 class="">Attempts to block </h6>
          </div>
          <div class="w-100   border-top">
          </div>
        </div>
      </div>
      <div class="col text-center col-lg mt-1">
      <button type="button" class="btn btn-primary time" id="0">Hour</button>
      <button type="button" class="btn btn-primary time" id="1">Day</button>
      <button type="button" class="btn btn-primary time" id="2">Week</button>
      <button type="button" class="btn btn-primary time" id="3">Year</button>
        <div id="container" style="width:100%; height:400px;"></div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid" id="blocks_on">
  <div class="row">
    <div class="col-md-12 ">
      <h1 class="pt-4 pb-0">{{coinStatisticData.name}}&nbsp;</h1>
    </div>
  </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript" src = "/javascripts/pool.js">

</script>
